.galery{
  display: flex;
  margin: auto;
  width: 90%;
  height: 330px;
}

.image{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .8s ease;
}

.image:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
