.card{
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #969090b9;
  width: 340px;
  height: 250px;
  transition: .3s;
  /* border:2px solid rgb(72, 17, 175); */
}

.card:hover{
  background-color:  #ba8cc9;
}

.card:hover .overlay {
  background-color: rgba(126, 126, 126, 0.507);
  height: 20%;
}


.title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-size-adjust: auto;
  text-align: center;
  width:340px;
  height: 50px;
  color: rgb(0, 0, 0);
  margin: 0px;
  /*
  padding: 15px rgb(10, 64, 134);
  border-bottom: 2px solid rgb(72, 17, 175)
  */
}

.genres{
  color: rgb(255, 255, 255);
  margin: 0%;
  margin-top: -10px;
  padding: 0px;

  /* 
  white-space: pre; 
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  */
}

.image{
  object-fit: fill;
  width:340px; 
  height:200px; 
  display: block;
  border-radius: 3px
}


.imageLoader{
  padding-top: 50px;
  height: 60px;
  width: 60px;
  object-position: center;
}


.hidden{
  display: none;
}


.container {
  position: relative;

}

/* 
.container:hover .overlay {
  height: 30%;
  background-color: rgba(126, 126, 126, 0.507);
} 
*/

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: .5s ease;
}
