.nav{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: rgba(166, 167, 114, 0.212);
  border-radius: 3px;
  position: relative;
  left:0%;
  width: 7rem;
  margin-top: 1rem;
  height: 32.5rem;
}
