.nav{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 3px;
  position: relative;
  left:0%;
  width: 7rem;
  margin-top: 1rem;
  height: 32.5rem;
  /* background-color: rgba(166, 167, 114, 0.212); */
}

.btn{
  color: #FF1cff;
  background-color: rgb(16, 56, 129);
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  margin: 0.2rem;
  padding: 0.4rem;
  /* transition: .4s; */
}

.btn:hover{
  color: #FF1cff;
  background-color: rgb(0, 228, 228);
}

.btn:active{
  color: rgb(0, 228, 228);
  background-color:rgb(207, 110, 226);
}

.select{
  border: solid 2px #fab5fa;
  border-radius: 3px;
}
