.header{
    background-color: rgba(125, 126, 97, 0.555);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header h2{
    color: rgb(16, 56, 129);
    margin-right: 4.5rem;
}

.nav{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    background-color: rgba(166, 167, 114, 0.212);
    border-radius: 3px;
    position: fixed;
    left:0%;
    width: 10%;
    margin-top: 1rem;
}

.list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    grid-gap: 1rem;
    gap: 2rem;
    justify-content: center;
    padding: 20px 0;
    right: 0px;
    margin-left: 20%;
}

/* No Anda el module cuando no usamos clases o ids */
.header button{
    color: #FF1cff;
    background-color: rgb(16, 56, 129);
    border-radius: 3px;
    padding: 0.5rem;
    margin: 0.1rem;
}


.header button:hover{
    color: #FF1cff;
    background-color: rgb(0, 228, 228);
    box-shadow: 20px;
}


.header input{
    height: 1.5rem;
}

