.page{
    background-image: url('./assets/gif-2.webp');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0%; */
}

.page2{
   /*  background-color: rgba(141, 141, 141, 0.178); */
    width: 100vw;
    height: 100vh;
}

.btnStart{
    margin-top: 10rem;
    color: #FF1cff;
    background-color: rgb(16, 56, 129);
    border: 4px solid rgb(180, 47, 169);
    border-radius: 5px;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.btnStart:hover{
    color: #FF1cff;
    background-color: rgb(0, 228, 228);
    border: 4px solid rgb(247, 77, 232);
}