.modal{
  background-color: antiquewhite;
  width: max-content;
  height: max-content;
  margin: 2rem auto;
  background-color: rgb(255, 235, 205);
  padding: 1rem;
  border: 4px solid  #ffcaff;
  border-radius: 10px;
}
