.modal{
  background-color: antiquewhite;
  width: max-content;
  height: max-content;
  margin: 2rem auto;
  background-color: rgb(255, 235, 205);
  padding: 1rem;
  border: 4px solid  #ffcaff;
  border-radius: 10px;
}


.btn{
  /* border: solid 2px #fab5fa;*/
  color: #FF1cff;
  background-color: rgb(16, 56, 129);
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  width: 15rem;
  margin: 1rem auto;
  padding: 0.5rem;
}

  
.btn:hover{
  color: #FF1cff;
  background-color: rgb(0, 228, 228);
  /*  
  padding: 0.4rem;
  color:rgb(0, 0, 0);
  background-color:rgb(242, 191, 252);
  border: solid 2px wheat; 
  */
}
  
.btn:active{
  background-color:rgb(207, 110, 226);
}
